@{
    ViewData["Title"] = "Home Page";
}


<div class="pure-g content">
    <div class="pure-u-1">
        <a class="pure-button pure-button-primary" href="/survey/create">Create a survey</a>
    </div>
</div>
