@{
    ViewData["Title"] = "Create a new survey";
}

<form class="pure-form pure-form-stacked content">
    <fieldset>
        <div class="pure-g">
            <div class="pure-u-3-24">
                <button id="add-new-question" type="button" class="pure-u-23-24 pure-button pure-button-primary">Add a
                    new
                    question</button>
            </div>
        </div>
    </fieldset>
    <fieldset name="questions">

    </fieldset>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#add-new-question").click(function () {
                const questions = $("fieldset[name='questions']");
                const length = $("fieldset[name='questions'] fieldset").length
                questions.append($("#new-question").clone().html())
                const question = questions.find("fieldset").last();
                question.find("label").first().text(`Question-${length + 1}`)
            });
        });
    </script>
}


<template id="new-question">
    <fieldset class="pure-group">
        <hr>
        <label></label>
        <textarea class="pure-input-1" style="margin-bottom: 1em;" placeholder="Enter your question here"></textarea>
        <div class="pure-g">
            <div class="pure-u-1-5">
                <label>1.</label>
                <textarea class="pure-input-4-5" placeholder="Enter your choice here"></textarea>
            </div>
            <div class="pure-u-1-5">
                <label>2.</label>
                <textarea class="pure-input-4-5" placeholder="Enter your choice here"></textarea>
            </div>
            <div class="pure-u-1-5">
                <label>3.</label>
                <textarea class="pure-input-4-5" placeholder="Enter your choice here"></textarea>
            </div>
            <div class="pure-u-1-5">
                <label>4.</label>
                <textarea class="pure-input-4-5" placeholder="Enter your choice here"></textarea>
            </div>
            <div class="pure-u-1-5">
                <label>5.</label>
                <textarea class="pure-input-4-5" placeholder="Enter your choice here"></textarea>
            </div>
        </div>
    </fieldset>
</template>